<!DOCTYPE html>
<html lang="en">
  <nav id="NavBar" class="navbar navbar-expand">
    <div class="container-fluid" style="height: 60px;">
      <a class="navbar-brand" href="/">
        <img src="\assets\images\Mayurans personal logo.png" alt="logo"  class="img-fluid" width="90px" ></a>
      </a>

      <div class="collapse navbar-collapse nav justify-content-end">
        <ul class="nav nav-pills nav-fill">
          <a class="nav-item nav-link link-dark" href="/home">Home</a>
          <a class="nav-item nav-link link-dark" href="/about">About Me</a>
          <a class="nav-item nav-link link-dark" href="/projects">Projects page</a>
          <a class="nav-item nav-link link-dark" href="/services">Services page</a>
          <a class="nav-item nav-link link-dark" href="/contact">Contact Me</a>
        </ul>
      </div>
    </div>
  </nav>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section --> 
  <link rel='stylesheet' href ='/bootstrap/dist/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.css' />
  <link rel='stylesheet' href='/Content/app.css' />
  
</head>
<body>