
<link rel='stylesheet' href='/Content/about.css' />

<br><br>

<div id="InsideBody" class="container">
  <main class="container">
    <section class="p-5">      
        <div class="row">
          <h2>Who I am?</h2>
        </div>

        <div class="row">
          <div class="row"> 
            <p>My name's Mayuran Srichandrabose I'm a student studying to achieve education to become an 
              Software Engineer. A little back story about me is that I was from Sri Lanka, but moved to Canada 
              with my parent when I was four years old. Currently I've completed high school and now attending 
              post secondary school. I hope one day to be able to create my own company that will benifit other 
              in some sort or form.</p>
          </div>
          <br>
          <div class="col">
            <img class="img-fulid" src="\assets\images\Grad Picture.jpg" width="450" alt="my photo">
          </div> 
          <div class="col">
            <img class="img-fulid" src="\assets\images\Football Picture.jpeg" width="450" alt="my photo">
          </div>
        </div>  
    </section>
  </main>
</div>
<br><br>