
<link rel='stylesheet' href='/Content/contact.css' />

<br><br>

<div id="InsideBody" class="container">
  <main class="container">
    <section class="p-5">      
        <div class="row">
          <h2>Contact</h2>
        </div>
        <div class="row">
          <div class="col"> 
            <p>The best way to contact me is by the following:</p>
            <form>
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="email" class="form-control" id="name" placeholder="ex. 'Mayuran Srichandrabose'">
              </div>
              <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label class="form-label">Phone Number</label>
                <input type="email" class="form-control" id="phoneNum" placeholder="ex. '(XXX)XXX-XXXX'">
              </div>
              <div class="mb-3">
                <label class="form-label">What would you like to ask me?</label>
                <textarea class="form-control" id="inquire" rows="3"></textarea>
              </div>
              <div>
              <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <a href="https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2FMayuranSri"><i class="fab fa-github-square fa-4x"></i></a>
              <a href="https://www.snapchat.com/add/mayuransri?share_id=MzJDMUNG&locale=en_CA"><i class="fab fa-snapchat-square fa-4x"></i></a>
              <a href="https://www.instagram.com/_.mayuran._/"><i class="fab fa-instagram-square fa-4x"></i></a>
            </form>
          </div>
          <div class="col">
          <img class="img-fulid" src="\assets\images\Mayurans personal logo.png" height="380" width="500" alt="my photo" class="rounded">
          </div> 
        </div>  
    </section>
  </main>
</div>
<br><br>