
<link rel='stylesheet' href='/Content/home.css' />

<div id="cover">
  <h1>Mayuran Srichandrabose's Portfolio</h1>
</div>

  <br>

<body>
  <header id="Welcome">
      <h2>Welcome To My Portfolio Website</h2>
  </header>

  <main>
    <div id= "InsideBody" >
      <h2>
      <a href="https://www.instagram.com/_.mayuran._/"> Mayuran Srichandrabose</a> - Student Pursuing Software Engineer 
      <br>
      <h3>What you will find on this site?</h3>
      
      <table style="width: 100%">
        <tr>
          <td id="pic">
          <img src="\Assets\images\Welcome.gif" width="600"></a></td>
          <td><p>Though out the site you'll be able to see information about me from an professtional 
            and a bit of an person stand point. To see some of my project, feel free to cheak out my project page.
            I also can provide services that you can check out on my services page. If you want to reach out to 
            me for any job offers or if you have any futher question just click on my contact page.</p></td>
        </tr>
      </table>

      <br>
      
      <table style="width: 100%">
        <tr>
          <h3>Mission Statement</h3>
          <td><p>My goal is to develope enough experince and knowledge in the technology industry, so that 
            one day I'll be able to helps maintain and devolop applications. My job goal is to start my own 
            company someday in the future that help people in some form or need.</p></td>
          <td id="pic">
          <a href="https://www.instagram.com/_.mayuran._/">
          <img id="logo" alt="Mayuran Srichandrabose - Personal Logo" src="\Assets\images\Mayurans personal logo.png" width="600"></a></td>
        </tr>
      </table>
    </div>
    </main>
  </div>
</body>
<br><br>
