
<link rel='stylesheet' href='/Content/projects.css' />

<div id="cover">
  <h1>Projects</h1>
</div>

  <br>

<body>
  <header id="Title">
      <h2>Here Are Some Projects Done By Me</h2>
  </header>

  <main>
    <div id= "InsideBody" >
      <h2>*Project One</h2>
      
      <table style="width: 100%">
        <tr>
          <td><h3>**************************Don't have any yet**************************</h3></td>
          <td id="pic">
          <img src="https://i.pinimg.com/originals/67/56/66/675666d840a9c8fa1c61eaf584ff2a50.gif" width="390"></a></td>
        </tr>
      </table>
    </div>
    </main>
  </div>
</body>
<br><br>  