
<link rel='stylesheet' href='/Content/services.css' />

<div id="cover">
  <h1>Services</h1>
</div>

  <br>

<body>
  <header id="Title">
      <h2>Services I Can Provide</h2>
  </header>

  <main>
    <div id= "InsideBody" >
      
      <table>
        <tr>
          <h3>Web Design</h3>
          <td><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum neque nulla, lacinia eu enim et,
            malesuada dignissim leo. Donec augue neque, tincidunt at mi eget, condimentum efficitur quam. 
            Curabitur et felis ac urna ultricies vulputate. Etiam quis condimentum magna. Etiam felis tellus, 
            pretium vitae tempus ut, auctor id ante. Vestibulum maximus ex a facilisis tristique. Vivamus 
            mattis augue magna, ac aliquam lectus ornare nec.</p>
          </td>
          <td id="pic">
          <img src="https://cdn.searchenginejournal.com/wp-content/uploads/2019/12/5-ways-seo-web-design-go-together-5e2945dd5df37-1520x800.png" width="600"></a></td>
        </tr>        
      </table>

      <br>

      <table>
        <tr>
          <h3>Coding</h3>
          <td id="pic">
            <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202012/chris-ried-ieic5Tq8YMk-unsplas_1200x768.jpeg?bEhcYQAShJnLf0Mtu4JYq8YzICfhz2rB&size=770:433" width="600"></a></td>
            <td>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum neque nulla, lacinia eu enim et,
                malesuada dignissim leo. Donec augue neque, tincidunt at mi eget, condimentum efficitur quam. 
                Curabitur et felis ac urna ultricies vulputate. Etiam quis condimentum magna. Etiam felis tellus, 
                pretium vitae tempus ut, auctor id ante. Vestibulum maximus ex a facilisis tristique. Vivamus 
                mattis augue magna, ac aliquam lectus ornare nec.</p>
            </td>
          </tr>
      </table>

      <br>

      <div class="row container"> 
        <h3>Photography</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum neque nulla, lacinia eu enim et,
           malesuada dignissim leo. Donec augue neque, tincidunt at mi eget, condimentum efficitur quam. 
           Curabitur et felis ac urna ultricies vulputate. Etiam quis condimentum magna. Etiam felis tellus, 
           pretium vitae tempus ut, auctor id ante. Vestibulum maximus ex a facilisis tristique. Vivamus 
           mattis augue magna, ac aliquam lectus ornare nec.</p>
      </div>
      <div class="row container">  
        <table>
          <tr>   
            <td id="pic">
              <img src="\Assets\images\Car Picture in Fall.jpg" width="420"></a>
            </td>
            <td id="pic">
              <img src="\Assets\images\Montreal Church.jpg" width="420"></a>
            </td>
            <td id="pic">
              <img src="\Assets\images\Backyard.jpg" width="420"></a>
            </td>
          </tr> 
        </table>       
      </div>
      <div class="row container">  
        <table>
          <tr>   
            <td id="pic">
              <img id="logo" src="\Assets\images\Car in Fog.jpg" width="420"></a>
            </td>
            <td id="pic">
              <img id="logo" src="\Assets\images\Church with evening sky.jpg" width="420"></a>
            </td>
            <td id="pic">
              <img id="logo" src="\Assets\images\Car Picture in Fall(close-up).jpg" width="420"></a>
            </td>
          </tr> 
        </table>       
      </div>
    </div>
  </main>
</body>
<br><br>
